/* Reset CSS */
@layer reset {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer base {
    :root {
        --primary: '#449AB3';
    }
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

* {
    scrollbar-width: none;
}
.title-word {
    animation: color-animation 4s linear infinite;
}

.title-word-1 {
    --color-1: #fbeeac;
    --color-2: #a3f7bf;
    --color-3: #ffc0c2;
}

.title-word-2 {
    --color-1: #f4d160;
    --color-2: #75c2f6;
    --color-3: #a0eecc;
}

.title-word-3 {
    --color-1: #75c2f6;
    --color-2: #ffc0c2;
    --color-3: #75c2f6;
}

.title-word-4 {
    --color-1: #a3f7bf;
    --color-2: #fbeeac;
    --color-3: #ffc0c2;
}

@keyframes color-animation {
    0% {
        color: var(--color-1);
    }
    32% {
        color: var(--color-1);
    }
    33% {
        color: var(--color-2);
    }
    65% {
        color: var(--color-2);
    }
    66% {
        color: var(--color-3);
    }
    99% {
        color: var(--color-3);
    }
    100% {
        color: var(--color-1);
    }
}

/* Here are just some visual styles. 🖌 */

/* .container {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100vh;
} */

/* .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 8.5vw;
    text-transform: uppercase;
} */
