<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clipit.clipitback.model.dao.PostDao">
    <resultMap id="postMap" type="Post">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="writerId" column="writer_id"/>
        <result property="status" column="status"/>
        <result property="viewCount" column="view_count"/>
        <result property="createDate" column="created_at"/>
        <result property="updateDate" column="updated_at"/>
        <collection property="tags" javaType="List" ofType="com.clipit.clipitback.model.dto.Tag"
                    notNullColumn="tag_id">
            <id property="id" column="tag_id"/>
            <result property="name" column="tag_name"/>
        </collection>
    </resultMap>

    <select id="searchPost" resultMap="postMap">
        SELECT post.id, post.title,
        post.description, post.writer_id, post.status,
        post.created_at, post.view_count, post.updated_at,
        tag.id as tag_id, tag.name as tag_name FROM post
        LEFT JOIN post_tag on post.id = post_tag.post_id
        LEFT JOIN tag on post_tag.tag_id = tag.id
        <where>
            <if test="title!=null">AND ppst.title LIKE concat('%',#{title},'%')</if>
        </where>
    </select>
    <select id="selectPostById" resultMap="postMap">
        SELECT * FROM post
        WHERE id = #{id}
    </select>
    <select id="selectPostsByWriterId" parameterType="String" resultMap="postMap">
        SELECT * FROM post
        WHERE writer_id = #{writerId}
    </select>

    <select id="selectAllPostsByUserId" parameterType="String" resultMap="postMap">
        SELECT * FROM post
        WHERE writer_id = #{writerId}
        OR id in (SELECT post_id FROM favorite_post WHERE user_id=#{id})
    </select>

    <select id="selectFavoritePostsByUserId" parameterType="String" resultMap="postMap">
        SELECT * FROM post
        WHERE id in (SELECT post_id FROM favorite_post WHERE user_id=#{id})
    </select>
    <select id="selectVisitedPostsByUserId" resultMap="postMap">

    </select>
    <insert id="insertPost" parameterType="Post" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO post(title, description, writer_id, status)
        VALUES (#{title}, #{description}, #{writerId}, #{status})
    </insert>
    <update id="updatePost" parameterType="Post">
        UPDATE post SET title = #{title}, description = #{description}, writer_id = #{writerId}, status = #{status}
        WHERE id = #{id}
    </update>
    <update id="updatePostStatus" parameterType="Map">
        UPDATE post SET status = #{status}
        WHERE id = #{id}
    </update>
    <insert id="insertFavoritePost" parameterType="Map">
        INSERT INTO favorite_post
        VALUES (#{userId}, #{postId})
    </insert>
</mapper>