<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clipit.clipitback.model.dao.UserInfoDao">

    <resultMap id="userInfoMap" type="UserInfo">
        <result property="createDate" column="created_at"/>
    </resultMap>

    <select id="selectAllUsers" resultMap="userInfoMap">
        SELECT * FROM user_info
    </select>

    <select id="selectUserInfoById" parameterType="String" resultMap="userInfoMap">
        SELECT * FROM user_info
        WHERE id=#{id}
    </select>

    <insert id="signup" parameterType="UserInfo">
        INSERT INTO user_info(id, username, password)
        VALUES (#{id}, #{username}, #{password})
    </insert>

    <update id="updateUser" parameterType="String">
        UPDATE user_info
        SET username=#{username}, password=#{password}
        WHERE id=#{id}
    </update>

    <update id="resign" parameterType="UserInfo">
        UPDATE user_info
        SET status='inactive'
        WHERE id=#{id}
    </update>



</mapper>