<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clipit.clipitback.model.dao.UserProfileDao">

    <select id="selectUserProfile" parameterType="String" resultType="UserProfile">
        SELECT * FROM user_profile
        WHERE user_id=#{id}
    </select>

    <insert id="insertUserProfile" parameterType="String">
        INSERT user_profile(user_id)
        VALUES (#{id})
    </insert>


    <update id="updateUserProfile" parameterType="UserProfile">
        UPDATE user_profile
        SET height = #{height}, weight = #{weight}, age = #{age}, goal = #{goal}
        WHERE user_id = #{id}
    </update>

</mapper>